body{
    font-family:Comic Sans MS;
    background-color: rgb(1, 2, 5);
    color: rgb(64, 133, 133);
}
#heading a{
    color: rgb(187, 153, 187);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;

}

.heading1{
    background-color: rgb(9, 66, 116);
    height: 200px;
    padding-top: 10px;
}


.heading1 h2{
    color: aqua;
    font-size: 40px;
    background-position: center;
    text-align: center;
    margin-top: 100px;
}

.heading1 a{
    color: rgb(187, 153, 187);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}



.heading1 a:hover{
    background-color: greenyellow;
    color: rgb(175, 22, 22);
}

.heading1 li{
    display: inline-block;
    margin: 0 30px;

}


.heading1 ul{
    /* float: right; */
    margin-top: -150px;
    margin-right: 50px;
    text-align: center;
    
}


.heading1 p{
    text-align: center;
    font-style:oblique;
    font-size: 24px;
    color: rgb(130, 184, 144);
    margin-top: 10px;
}



.heading2 h3{
    color: rgb(103, 201, 152);
}



.one{
    background-image: url(../img/congnghe.jpg);
    height: 580px;
    /* color: rgb(95, 233, 173); */
    text-align: center;
}
.one h1{
    color: rgb(103, 201, 152);

}
.one li{
    list-style: none;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
}
.one a:hover{
    background-color: greenyellow;
    color: rgb(172, 39, 39);
}

.one p{
    font-size: 20px;
    padding-top: 30px;
    color: rgb(97, 216, 216);

}

footer{
    background-color: rgb(114, 184, 137);
    color: aliceblue;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
