body{
    font-family:Comic Sans MS;

}

.heading1{
    background-image: url(../img/congnghe.jpg);
    height: 600px;
}
.heading1 h1{
    color: yellowgreen;
    
    font-size: 40px;
    background-position: center;
    text-align: center;
    line-height: 500px;
    margin: auto;
}
.heading1 p{
    text-align: center;
    font-style:oblique;
    font-size: 24px;
    color: rgb(130, 184, 144);
    margin-top: -200px;
}

footer{
    background-color: black;
    color: aliceblue;
    height: 40px;
    line-height: 40px;
    text-align: center;

}
